@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #101010;
  color: white;
  font-family: var(--font-josefin-sans), sans-serif;
}


.text-gradient {
  @apply bg-gradient-to-r from-[#8F00FF] to-[#b75dff] bg-clip-text text-transparent;
}